.appContainer {
	display: flex;
	height: 100vh;
}

.todoPane, .taskPane {
	justify-content: center;
	width:50vw;
	text-align: center;
}

.todoPane {
	background-color: #53aab9;
}

.taskPane {
	background-color: #f0aad8;
	}
